<h2 class="form__design__title js-accordion-title js-accordion-title-active">
  <span><i class="far fa-object-ungroup"></i>Diseña</span
  ><i class="fab fa-pagelines js-accordion-icon fa-rotate-180"></i>
</h2>
<div class="js-accordion-content js-accordion-content-open">
  <div class="design__container">
    <div class="design__container__colors">
      <h3>Colores</h3>
    </div>
    <div class="text-options-container">
      <ul class="text-options">
        <li>
          <small>Gingko</small>
        </li>
        <li class="flower-option">
          <small>Amapola</small>
        </li>
        <li>
          <small>Girasol</small>
        </li>
      </ul>
    </div>
    <div class="design__container__options">
      <label for="cold" class="cold">
        <input
          type="radio"
          id="cold"
          class="js-palette"
          name="palette"
          value="1"
          checked
        />
        <div class="palette-cold">
          <span class="a"></span>
          <span class="b"></span>
          <span class="c"></span>
        </div>
      </label>
      <label for="warm" class="warm">
        <input
          id="warm"
          type="radio"
          class="js-palette"
          name="palette"
          value="2"
        />
        <div class="palette-warm">
          <span class="a"></span>
          <span class="b"></span>
          <span class="c"></span>
        </div>
      </label>
      <label for="medium" class="medium">
        <input
          id="medium"
          type="radio"
          class="js-palette"
          name="palette"
          value="3"
        />
        <div class="palette-medium">
          <span class="a"></span>
          <span class="b"></span>
          <span class="c"></span>
        </div>
      </label>
    </div>
  </div>
  <div class="design__container__frame">
    <h3>Marco</h3>

    <div
      href="#"
      class="design__container__button js-frame-button js-frame-button-off"
    >
      <div class="design__container__button__round"></div>
    </div>
  </div>
</div>
